<h2>Your Pragmatic Cart</h2>

<ul>
  <% for item in @cart.items %>
    <li><%= item.quantity %> &times; <%= h item.title %></li>
  <% end %>
</ul>

<div class="go_back_to_index">
  <%= button_to "Continue shopping", :action => 'index' %>
</div>

<br />
<br />

<%= button_to "Empty cart", :action => 'empty_cart' %>
